
/* Resize text */
body {
  font-size: 16px;
}
h1 {
  /*font-size: 34px;*/
  font-size: 26px;
}
h1.title {
  /*font-size: 38px;*/
  font-size: 29px;
}
h2 {
  /*font-size: 30px;*/
  font-size: 23px;
}
h3 {
  /*font-size: 24px;*/
  font-size: 18px;
}
h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
.navbar {
  font-size: 12px;
}
/* Navigation bar dropdown menu */
ul.dropdown-menu {
  font-size: 12px;
}

/* Don't underline links */
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  font-weight: bold;
  text-decoration: underline;
}
.center-fit {
  max-width: 100%;
  max-height: 90vh;
  padding-right: 3%;
  margin: auto;
}